.card{
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsl(0, 0%, 0.1);
    padding: 20px;
    text-align: center;
    margin: 10px;
    max-width: 250px;
    display: inline-block;
}
.card > .card-img{
    max-width: 60%;
    height: auto;
    border-radius: 50%;
    margin-bottom:10px ;
}
.card > .title{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: rgb(77, 77, 77);
}
.card > .text{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(77, 77, 77);

}

.student{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    padding: 10px;
    border: 1px solid black;
    max-width: 25%;
}
.student p{
    margin: 0;
}
.welcome{
    background-color: green;
    color: white;
    font-size: 2em;
    text-align: center;
    margin: 0;
}
.login{
    
        background-color: red;
        color: white;
        font-size: 2em;
        text-align: center;
        margin: 0;
    
}