*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    
}
body{
    
   background-color: #4084b8; 
}
section{
    width: 85%;
    margin: 50px auto;
}
section h1{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 2px 2px 2px grey;
    color: rgb(61, 54, 54);
    font-size: 2em;
    font-weight: bolder;
}

ul{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    box-sizing: border-box;
}
ul li{
    list-style:none;
    background-color: grey;
    padding: 5px 10px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 1.2em;
    border-radius: 8px;
}
ul li.active{
    background-color: lawngreen;
}
.product{
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    
}
.card{
    margin: 10px;
    display: block;
   

}
.card-img-top{
    height: 60%;
}
/* .card-text{
    background-color: aqua;
} */
.card-body{
    background-color: bisque;
    
}